.a{
    height: 100vh;
    display: flex;
    align-items: center;
}
.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: red;
    height: 100%;
}
.a-right{
    flex: 1;
    background-color: blue;
    height: 100%;
}
.a-card.bg{
    position: absolute;
    top:50px;
    left: 50px;
    background-color: #333;
}
.a-card{
    width:60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.a-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.a-title,.a-sub-title, .description{
   position: relative;
   margin: 20px;
}

.a-certificates{
   overflow: hidden;
   background-color: brown;
   margin: 0;
   padding: 0;
   object-fit: cover;
}
.a-certificates-wrapper{
    width: 60%;
    height: 70vh;
    background-color: #fff;
    object-fit: cover;
    justify-content: center;
}

.a-certificate{

}
.html-certificate,
.css-certificate,
.javascript-certificate,
.react-certificate,
.react-native-certificate,
.flutter-certificate,
.django-certificate,
.python-certificate,
.java-certificate,
.c-certificate,
.cpp-certificate,
.c-sharp-certificate{
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 30px;
}
/*.a-certificates-wrapper{
    animation: certificateSlide 10s ease-in-out infinite alternate;

}
@keyframes certificateSlide {
    0%{
      transform: skewX(50deg) translateX(-100px);
    }
    100%{
        transform: skew(0deg)
    }
}*/